@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
 
body {
    background: #eee;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
 
hr {
    border:0;
    background:#dedede;
    height:1px;
}       
 
header{
    text-align: center;
    color: #000000;
}
 
header .judul{
    font-size: 17pt;
}
 
header .deskripsi{
    font-size: 11pt;
}
 
.wrap {
    width: 950px;
    margin:25px auto;
}
 
nav.menu ul {
    overflow:hidden;
    color:#fff;
    list-style: none;
    float:left;
    padding:0;
    width: 650px;
    margin:0 0 0;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}
 
nav.menu ul li {
    margin:0;
    float:left;
}
 
nav.menu ul a {
    padding:25px;
    display:block;
    font-weight:600;
    font-size: 16px;
    color:#000000;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-decoration: none;
}
 
nav.menu ul a:hover {
    text-decoration: underline;
    background:#778899;
}
 
.sidebar {
    float:right;
    width:275px;
}
 
.sidebar .widget {
    padding:25px;
    margin:0 0 25px;
    background:#fff;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}
 
.sidebar .widget:hover {
    border-bottom: 2px solid #3498db;
}
 
.sidebar .widget h2 {
    padding:0;
    margin:0 0 15px;
    color:#000000;
    font-size: 18px;
    font-weight:800;
    text-transform: uppercase;
}
 
.sidebar .widget p {
    font-size: 14px;
}
 
.sidebar .widget p:last-child {
    margin:0;
}
 
.blog {
    float:left;
}
 
.conteudo {
    width:600px;
    padding:25px;
    margin:25px auto;
    background: #fff;
    border:1px solid #dedede;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}
 
.conteudo img {
    min-width: 650px;
    margin:0 0 25px -25px;
    max-width: 650px;
}
 
.conteudo h1 {
    padding:0;
    margin:0 0 15px;
    font-weight: normal;
    color: #000000;
    font-family: Georgia;
}
 
.conteudo p:last-child {
    margin: 0;
}
 
.conteudo .continue-lendo {
    color:#000000;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 700; 
}
 
.conteudo .continue-lendo:hover {
    margin-left:10px;
}
 
.post-info {
    float: right;
    font-size: 12px;
    margin: -10px 0 15px;
    text-transform: uppercase;
}
 